* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  .result {
    max-width: 600px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h1 {
    font-weight: bold;
    margin: 2% 5% 2%;
    text-align: center;
    font-size: 36px;
  }
  h2 {
    font-weight: 100;
    margin: 2% 5% 2%;
    font-size: x-large;
  }
  h3 {
    margin: 2% 5% 2%;
    font-weight: 100;
  } 
  hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 30px 0;
  }
  
  canvas {
    display: block;
    margin: 0 auto;
  }
  
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  body {
    background: rgb(2, 0, 36);
    background-image: linear-gradient(to bottom, #44646a, #4c747c, #54838f, #5c94a3, #65a4b8);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .result-ctn {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
  }
  .result-ctn-career {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 80px;
    margin: 10px;
    width: 100vw;
    font-family: arial;
  }
  
  .card-body {
    padding: 2px 16px;
  }
  
  .card-title {
    font-size: 22px;
    margin: 20px 0px;
    text-align: center;
  }
  
  .card-text {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
  }
  
  .about-ctn {
    display: flex;
    justify-content: center;
  }
  
  .career-ctn {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
    font-family: arial;
    margin: 40px;
    padding: 20px;
  }
  .career-ctn-list {
    margin: 5px;
    text-align: center;
  }
  
  .career-ctn-list li {
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
  }
  
  button {
    background-color: #44646a;
    border: none;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  button:hover {
    background-color: #085d8179;
  }
  